<div class="about-wrapper">
  <div class="about-inner-wrapper">
    <img src="/styles/assets/cjpicCropped.jpg" alt="C.J. Bott">
    <h2>C.J. Bott</h2>
    <p>Originally from California, C.J. has lived for the last ten years in St. George and Provo, Utah. He is getting married in April 2017.</p>
    <p>C.J. is pursuing a Masters degree in Mathematics from Brigham Young University. He emphasizes in abstract algebra, topology, and string theory mathematics. He is currently working on a paper linking behaviors of K3 surfaces to six dimensional entities.</p>
  </div>
</div>
