@import './_base.scss';
@import './_variables.scss';
@import './_fonts.scss';
.hero {
  background-image: url('../styles/assets/xagqoinfsu4-ronald-yang.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 60vh;
  min-height: 400px;
  position: relative;
  h1 {
    position: absolute;
    font-size: 3em;
    color: white;
    top: 30vh;
    right: 10vw;
    width: 30vw;
    text-align: right;
  }
}
.article-box {
  article {
    width: 40vw;
    max-width: 900px;
    min-width: 400px;
    margin: 2rem auto 6rem;
    header {
      i {
        font-size: 1rem;
        margin-right: 0.5rem;
        transform: translate(0, -20%);
      }
      padding-bottom: 0;
      font-size: 1.5rem;
    }
    section {
      text-align: justify;
      white-space: pre-line;
      line-height: 1.25rem;
    }
    hr {
      border: #ddd 0.5px solid;
    }
  }
}
