@import './_base.scss';
@import './_variables.scss';
@import './_fonts.scss';

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(250, 250, 250, 0.7);
  z-index: 9000;
  padding: 3vh;
  nav {
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
    width: 30vw;
    float: right;
    li {
      margin-right: 1em;
      color: #3a3a3a;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #3a3a3a;
        &:hover {
          color: #6a6a6a;
        }
      }
      &:hover {
        color: #6a6a6a;
      }
    }
  }
}

.manage-nav {
  position: fixed;
  bottom: 20vh;
  left: 0;
  li {
    color: #eee;
    background: linear-gradient(to right, #646464 0%,#494848 100%);
    padding: 1.5rem 2rem;
    border: .5px solid #666;
    cursor: pointer;
    &:hover {
      opacity: .65;
    }
  }
}
