@import './_base.scss';
@import './_variables.scss';
@import './_fonts.scss';

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(250, 250, 250, 0.7);
  z-index: 9000;
  padding: 3vh;
  nav {
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
    width: 30vw;
    float: right;
    li {
      margin-right: 1em;
      color: #3a3a3a;
    }
  }
}
